<%- layout('layouts/main.ejs') %>
  <div class="exit d-flex justify-content-center align-items-center mt-2" style="width: 80px; height: 40px;border: 1px  solid red;">
    <a href="/logout" class="text-decoration-none text-danger" style="display: block;">SALIR</a>
  </div>
  <div class="container-home">
    <a href="/ventas" class="card-home-link">
      <div class="card-home">
        <img width="170" src="/img/payment.png" />
        <span>NUEVA VENTA</span>
      </div>
    </a>

    <a href="/reportes" class="card-home-link">
      <div class="card-home">
        <img width="170" src="/img/clock.png" />
        <span>REPORTES</span>
      </div>
    </a>
  </div>