<%- layout('layouts/main.ejs') %>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="mt-4 text-center">
      <div class="signin-title">INGRESAR</div>
      <div class="card-body">
        <form action="/signin" method="POST">
          <div class="form-group">
            <label for="username" class="form-label">Usuario</label>
            <input
              name="username"
              id="username"
              placeholder="ducke1234"
              class="form-control"
            />
          </div>
          <div class="form-group mt-4 mb-5">
            <label for="password" class="form-label">Clave</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="******"
              class="form-control"
            />
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary mt-4" type="submit">INICIAR SESION</button>
          </div>
        </form>
      </div>
      <% if (warning.length > 0) { %>
      <div class="alert alert-warning mt-4" role="alert">
        <%= warning %>
      </div>
      <% } %>
      <% if (error.length > 0) { %>
        <div class="alert alert-danger mt-4" role="alert">
          <%= error %>
        </div>
      <% } %>
    </div>
  </div>
</div>




